Hello #{@manager&.full_name.presence || @manager&.email},

A new time-off request has been submitted by #{@request.user.full_name}.

Type: #{@request.time_off_type.name}
Dates: #{@request.start_date} to #{@request.end_date}
- if @request.reason.present?
  Reason: #{@request.reason}

Please log in to review and take action.

