- content_for :title, "All Time-Off Requests"

%h1.text-2xl.font-semibold.mb-4 All Time-Off Requests

%table.min-w-full.divide-y.divide-gray-700.mt-4
  %thead
    %tr
      %th Employee
      %th Type
      %th Start
      %th End
      %th Status
  %tbody.divide-y.divide-gray-800
    - if @time_off_requests.any?
      - @time_off_requests.each do |r|
        %tr
          %td= r.user.full_name.presence || r.user.email
          %td= r.time_off_type.name
          %td= r.start_date
          %td= r.end_date
          %td= status_badge(r.status)
    - else
      %tr
        %td{ colspan: 5, class: "text-center text-gray-300 py-6" } No requests found.
