= form_with model: [:admin, @user] do |f|
  - if @user.errors.any?
    %div.bg-red-900.text-red-100.p-3.rounded.mb-4
      %ul
        - @user.errors.full_messages.each do |m|
          %li= m

  .grid.grid-cols-2.gap-4
    .mb-4
      = f.label :email
      = f.email_field :email, class: "border rounded px-3 py-2 w-full"
    .mb-4
      = f.label :password
      = f.password_field :password, class: "border rounded px-3 py-2 w-full"
    .mb-4
      = f.label :first_name
      = f.text_field :first_name, class: "border rounded px-3 py-2 w-full"
    .mb-4
      = f.label :last_name
      = f.text_field :last_name, class: "border rounded px-3 py-2 w-full"
    .mb-4
      = f.label :role
      = f.select :role, User.roles.keys.map { |r| [r.humanize, r] }, {}, class: "border rounded px-3 py-2 w-full"
    .mb-4
      = f.label :department_id, "Department"
      = f.collection_select :department_id, Department.order(:name), :id, :name, include_blank: true, class: "border rounded px-3 py-2 w-full"
    .mb-4
      = f.label :manager_id, "Manager"
      = f.collection_select :manager_id, User.where(role: :manager).order(:email), :id, :email, include_blank: true, class: "border rounded px-3 py-2 w-full"

  = f.submit class: "px-3 py-2 bg-blue-600 text-white rounded"

